<div class="demographics">
	<% var full_name = null;
	if ('vcard:n' in demo) {
		var n = demo['vcard:n'];
		full_name = (('vcard:family-name' in n) ? n['vcard:family-name'] : "Unknown") + ', ' + (('vcard:given-name' in n) ? n['vcard:given-name'] : ''); %>
		<h1>Trials for <%= full_name %></h1>
	<% } else { %>
		<h1>Trial Eligibility</h1>
	<% } %>
	<div class="patient_portrait"></div>
	
	<div class="demo_row">
		<% var gender = ('foaf:gender' in demo) ? demo['foaf:gender'] : null; %>
		<input type="radio" id="select_female" name="demo_gender" value="female" <% if ('male' != gender) { %>checked="checked"<% } %>/><!--
	 --><label for="select_female" id="select_female_label" class="demo_gender">Female</label><!--
	 --><input type="radio" id="select_male" name="demo_gender" value="male" <% if ('male' == gender) { %>checked="checked"<% } %>/><!--
	 --><label for="select_male" id="select_male_label" class="demo_gender">Male</label>
		
		<% // birthday, death-date and age
		var bday = null;
		var age_int = 0;
		var age = '';
		var deathdate = null;
		if ('vcard:bday' in demo) {
			bday = moment(demo['vcard:bday']);
			if (bday) {
				age_int = moment().diff(bday, 'years');
				if (age_int < 3) {
					age = moment().diff(bday, 'months');
					age += (1 == age_int) ? ' month' : ' months';
				}
				else {
					age += (1 == age_int) ? ' year' : ' years';
				}
			}
		} 
		if ('vcard:deathdate' in demo) {
			deathdate = moment(demo['vcard:deathdate']);
		} %>
		
		<input type="number" id="demo_age" name="demo_age" placeholder="Age" value="<%= (age_int > 0) ? age_int : '' %>" /> y
		<% if (bday) { %>
		<span class="demo_birthday">
		(<%= (deathdate ? '' : "born ") + bday.format('ll') %>
		<% if (deathdate) { %>
			– <%= deathdate.format('ll') %>
		<% } %>)
		</span>
		<% } %>
	</div>
	
	<div class="demo_row">
		<% // location
		if ('vcard:adr' in demo) {
			
			var parts = ['Unknown'];
			var adr = demo['vcard:adr'];
			if ('vcard:locality' in adr) {
				parts[0] = adr['vcard:locality'];
			}
			if ('vcard:region' in adr) {
				parts.push(adr['vcard:region']);
			}
			if ('vcard:country' in adr) {
				parts.push(adr['vcard:country']);
			}
		} %>
		
		<input type="text" id="demo_location" placeholder="City, State" value="<%= parts ? parts.join(', ') : '' %>" />
		<!--button onclick="locatePatient()">Locate</button-->
	</div>
	
	<% if ('sp:ethnicity' in demo) { %>
		<!-- <%= demo['sp:ethnicity'] %> -->
	<% } %>
</div>
