<div class="trial" <%= (el) -> can.data(el, 'trial', trial) %>>
	<div class="trial_locations"></div>
	
	<div class="trial_info">
		<%= trial.title ? trial.title : 'Unnamed trial' %>
		<div class="supplement"><%= (!trial.phase || 'N/A' == trial.phase) ? '' : trial.phase %></div>
		<a href="http://www.clinicaltrials.gov/ct2/show/<%= trial.nct %>" target="_blank"><%= trial.nct %></a>
		<div class="show_elig_toggle supplement">
			<a href="javascript:void(0);" onclick="_toggleEligibilityCriteria(this)">Show eligibility criteria</a>
		</div>
		
		<% if ('reason' in trial && trial.reason) { %>
			<tt class="exclusion_reason"><%= trial.reason %></tt>
		<% } %>
	</div>
	
	<div style="clear: right;"> </div>
	<pre class="formatted_criteria"><%= 'criteria_formatted' in trial ? trial.criteria_formatted.replace(/ +/g, ' ') : "(unknown criteria)" %></pre>
</div>
