<div class="trial_location">
	<div class="loc_status" style="position:relative;">
		<span style="color:<%= loc.status_color %>;"><%= loc.status %></span>
		<% if ('contact' in loc && loc.contact && (loc.contact.email || loc.contact.phone)) { %>
		–
		<a href="javascript:void(0);" onclick="_toggleTrialLocationContact(this)">contact</a>
		<div class="loc_contact">
			<div class="cont_name">
				<%= loc.contact.first_name ? loc.contact.first_name : '' %>
				<%= loc.contact.middle_name ? loc.contact.middle_name : '' %>
				<%= loc.contact.last_name ? loc.contact.last_name : '' %>
				<%= loc.contact.degrees ? loc.contact.degrees : '' %>
			</div>
			<% if (loc.contact.email) { %>
			<div class="cont_email"><a href="mailto:<%= loc.contact.email %>?subject=Trial+<%= loc.trial.nct %>"><%= loc.contact.email %></a></div>
			<% }
			if (loc.contact.phone) { %>
			<div class="cont_phone"><%= loc.contact.phone + (loc.contact.phone_ext ? ' (' + loc.contact.phone_ext + ')' : '') %></div>
			<% } %>
		</div>
		<% } %>
	</div>
	<% if (loc.name) { %>
	<div class="loc_name"><%= loc.name %></div>
	<% } %>
	<% if (loc.city) { %>
	<div class="loc_city"><%= loc.city %></div>
	<% } %>
	<div class="loc_country"><%= loc.country %></div>
	<% if (loc.distance) { %>
	<div class="loc_distance"><%= Math.round(loc.distance * 0.621371 / 10) * 10 %> Miles</div>
	<% } %>
</div>
