<div class="trial" <%= (el) -> can.data(el, 'trial', trial) %>>
	<div class="trial_locations"></div>
	
	<div class="trial_info">
		<%= trial.title ? trial.title : 'Unnamed trial' %>
		<% if (trial.keyword && trial.keyword.length > 0) { %>
			<div class="trial_keywords" <%= (el) -> can.data(el, 'trial-nct', trial.nct) %>>
			<% for (var i = 0; i < trial.keyword.length; i++) {
				var keyword = trial.keyword[i];
				var norm = _normalizeKeyword(keyword);
				var active = active_keywords && active_keywords.contains(norm); %>
				<span class="tag<%= active ? ' active' : '' %>" onclick="_toggleKeyword(this)" data-normalized="<%= norm %>"><%= keyword %></span>
			<% } %>
			</div>
		<% } %>
		<div class="supplement"><%= (!trial.phase || 'N/A' == trial.phase) ? '' : trial.phase %></div>
		<a href="http://www.clinicaltrials.gov/ct2/show/<%= trial.nct %>" target="_blank"><%= trial.nct %></a>
		<div class="show_elig_toggle supplement">
			<a href="javascript:void(0);" onclick="_toggleEligibilityCriteria(this, '<%= trial.nct %>')">Show eligibility criteria</a>
		</div>
		
		<% if ('reason' in trial && trial.reason) { %>
			<tt class="exclusion_reason"><%= trial.reason %></tt>
		<% } %>
	</div>
	
	<div style="clear: right;"> </div>
	<div class="formatted_criteria"></div>
</div>
