<div id="<%= trial.nct %>" class="trial">
	<% if ('location' in trial && trial.location.length > 0) { %>
	<%==  view('templates/trial_locations.ejs', {'trial': trial})  %>
	<% } %>
	
	<div class="trial_info">
		<%= trial.title ? trial.title : 'Unnamed trial' %><br />
		<a href="http://www.clinicaltrials.gov/ct2/show/<%= trial.nct %>" target="_blank"><%= trial.nct %></a>
		<div class="supplement">
			<a href="javascript:void(0);" onclick="$(this).parent().parent().siblings('.formatted_criteria').toggle()">show eligibility criteria</a>
		</div>
		
		<% if ('reason' in trial && trial.reason) { %>
			<tt class="exclusion_reason"><%= trial.reason %></tt>
		<% } %>
	</div>
	
	<div style="clear: right;"> </div>
	<pre class="formatted_criteria"><%= 'formatted' in trial.criteria ? trial.criteria.formatted.replace(/ +/g, ' ') : "(unknown criteria)" %></pre>
</div>
