<div class="trial_location">
	<div class="loc_status">
		<span style="color:<%= loc.status_color %>;"><%= loc.status %></span>
		<% if ('contact' in loc && loc.contact && (loc.contact.email || loc.contact.phone)) { %>
		–
		<a href="javascript:void(0);" onclick="$(this).find('.loc_contact').toggle()" style="position:relative;">contact
			<div class="loc_contact">
				<div class="cont_name">
					<%= loc.contact.first_name ? loc.contact.first_name : '' %>
					<%= loc.contact.middle_name ? loc.contact.middle_name : '' %>
					<%= loc.contact.last_name ? loc.contact.last_name : '' %>
					<%= loc.contact.degrees ? loc.contact.degrees : '' %>
				</div>
				<div class="cont_email"><%= loc.contact.email ? loc.contact.email : '' %></div>
				<div class="cont_phone"><%= (loc.contact.phone ? loc.contact.phone : '') + (loc.contact.phone_ext ? ' (' + loc.contact.phone_ext + ')' : '') %></div>
			</div>
		</a>
		<% } %>
	</div>
	<% if (loc.name) { %>
	<div class="loc_name"><%= loc.name %></div>
	<% } %>
	<% if (loc.city) { %>
	<div class="loc_city"><%= loc.city %></div>
	<% } %>
	<div class="loc_country"><%= loc.country %></div>
	<% if (loc.distance) { %>
	<div class="loc_distance"><%= Math.round(loc.distance * 0.621371 / 10) * 10 %> Miles</div>
	<% } %>
</div>
